<html>
    <head></head>
    <body>
        <form action="/api/user/create">
            <fieldset>
                <label for="email">Email</label>
                <input type="text" name="email" />
                <label for="email">Username</label>
                <input type="text" name="username" />
            </fieldset>
            <input type="submit" />
        </form>
    </body>
</html>